<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.my_springboot_learn.mapper.test2.UserTest2Mapper">
    <cache type="com.example.my_springboot_learn.redis.cache.RedisCache"/>

    <!--获取全部User-->
    <select id="selectAllUser" resultType="com.example.my_springboot_learn.model.User">
        SELECT * FROM user_info
    </select>
    <!--获取User通过ID-->
    <select id="selectUserById" parameterType="java.lang.Integer" resultType="com.example.my_springboot_learn.model.User">
        SELECT * FROM user_info WHERE id = #{id}
    </select>

    <!--更新User通过ID-->
    <update id="updateUserById" parameterType="com.example.my_springboot_learn.model.User">
        UPDATE user_info SET id = #{id}
        <if test="username != null">
            ,username = #{username}
        </if>
        <if test="password != null">
            ,password = #{password}
        </if>
        WHERE id = #{id}
    </update>

    <!--&lt;!&ndash;获取User通过username&ndash;&gt;-->
    <!--<select id="getUserByUsername" parameterType="String" resultType="com.cy.springbootmybatisredis.model.User">-->
        <!--SELECT * FROM user_info WHERE username=#{username}-->
    <!--</select>-->

    <!--添加User-->
    <insert id="insertUser" parameterType="com.example.my_springboot_learn.model.User">
        INSERT INTO user_info (username,password) VALUES (#{username}, #{password})
    </insert>

    <!--&lt;!&ndash;删除User&ndash;&gt;-->
    <!--<delete id="deleteUser" parameterType="com.cy.springbootmybatisredis.model.User">-->
        <!--DELETE FROM user_info WHERE id=#{id}-->
    <!--</delete>-->

    <select id="queryByCondition" parameterType="java.util.Map"
            resultType="com.example.my_springboot_learn.model.User">
        SELECT * FROM user_info
        WHERE 1=1
        <if test="id != null and id != ''">
          AND id = #{id}
        </if>
        <if test="username != null">
          AND  username LIKE '%${username}%'
        </if>
        <if test="password != null">
            AND  password LIKE '%${password}%'
        </if>
        <if test=" start != null and pageSize != null">
            LIMIT #{start},#{pageSize}
        </if>
    </select>

    <select id="queryByLimit" parameterType="java.util.Map"
            resultType="com.example.my_springboot_learn.model.User">
        SELECT * FROM user_info
        <if test=" start != null and pageSize != null">
            LIMIT #{start},#{pageSize}
        </if>
    </select>


</mapper>